[2020-04-27 08:23] quintush opened #24 "Hey @quintush, I've been trying to install your version (until the question of who maintains this is resolved), but the helm install process is failing ATM:"
Hey @quintush, I've been trying to install your version (until the question of who maintains this is resolved), but the helm install process is failing ATM:

[code]

Sorry to peg this onto this issue, but your forked repo doesn't support issues :(

<details>
  <summary>Full debug output</summary>

[code]

</details>

_Originally posted by @funkypenguin in https://github.com/lrills/helm-unittest/is

[2020-04-28 07:49] quintush commented on #24
@funkypenguin, thanks for the feedback.
I direclty fixed the option to create issues and have investigated your installation problem.

It seems i was generating the sha checksum with an option which is not available for macos, so i have updated the sha checksum with an option that works.
Please clean '/tmp/_dist/' folder and retry installing the plugin.

Will wait for feedback, before closing the

[2020-04-28 21:39] funkypenguin commented on #24
Thank you @quintush!

I'm sorry to report that it's still not working on either MacOS or Linux:

### MacOS:

[code]

### Linux

[code]

[2020-04-28 21:47] TD-4242 commented on #24
I too am seeing this same issue.  Tried clearing `/tmp/_dist` to no avail.

[2020-04-29 11:53] quintush commented on #24
Hello @funkypenguin, @TD-4242,

I have managed to fix the install for Linux, turns out that resolving the download url was wrong, resulting in multiple urls.

For the macos, it should work, because it always result in a single url.
Based on the error "Unable to update repository", it seems the client (helm itself) can have an error.
Could you try to remove the plugin (helm plugin remove unittest)

[2020-06-19 10:03] aneesh-joseph opened #33 "Dockerhub image"
Thank you for forking and improving this one. Can you publish this to dockerhub please :)

[2020-06-22 08:55] tomassatka opened #34 "Library testing"
Hi
Is it possible to write unittests for library chart?
I know that user cant apply `helm template @chart` on library chart therefore not sure if it can be unit tested.
Motivation behind is that libraries play crucial role as they contain common _helpers.tpl and therefore we would like to focus on unit testing it to assure the quality and compatibility with charts that depend on it.

Any advice?

[2020-07-01 12:26] sascha-krug opened #35 "shasum not working on alpine docker images"
Hi,

we are using your plugin on some docker images based on a google/cloud-sdk:alpine image. Sadly it does not contain "shasum".

So while installing the plugin this occurs:

`Downloading https://github.com/quintush/helm-unittest/releases/download/v0.2.0/helm-unittest-linux-amd64-0.2.0.tgz to location /tmp/_dist/
   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2020-07-06 21:27] quintush commented on #33
I will look into this.

[2020-07-06 21:31] quintush commented on #34
Library templates don't generate any input, so it is nog possible to unittest.

I have looked into it by parsing the script itself, bit this resulted in writing almost a complete copy of the actusl template parser.

Greeting @quintush

[2020-07-06 21:33] quintush commented on #35
I will look into that.

Will try to use sha256sum if shasum is nog available.

[2020-07-06 21:33] #24 closed

[2020-07-10 15:39] stevelipinski opened #36 "Add support for setting Capabilities"
helm allows for Capabilitiy detection, which is useful when using CRDs.

It would be nice if we could set the capabilities.  For this particular usecase of CRDs, setting .Capabilities.APIVersions.Has

[2020-07-27 20:33] #35 closed

[2020-07-27 20:42] quintush commented on #36
Hello @stevelipinski,

Can you send me a sample project on your usage of CRDs.
Based on the original helm code, only setting Capabilities is probably not enough to have the plugin working for CRDs.

Greetings,
@quintush

[2020-07-27 20:59] stevelipinski commented on #36
We have a CRD defined for a custom backup/restore component where we would define a manifest template like this:
[code]

The above is truncated for simplicity, but we have many more items configured in this Backup/Restore Policy spies, and to be able to unittest them with varying Values inputs would be very useful.

Currently I cannot unittest this because I have no way to influence the .Capabilit

[2020-07-31 02:06] Scoi4101 opened #39 "strange issue with helm3 chart unittests"
Getting this error on most of my tests that work fine in helm 2.9.1

assertion.template must be given if testsuite.templates is empty

Helm 3.1.2 and Helm 3.2.3 have the same issue.

So i pulled your repo and ran the same templates and tests in your repo and they pass

Any thoughts would be appreciated

[2020-07-31 21:19] quintush commented on #39
Which version of the plugin did you use?

In newer versions 0.2.0+, i have made sone improvements where it is possible set the template on multiple levels.

Greetings, @quintush

[2020-08-03 01:56] Scoi4101 commented on #39
Hello,

Thanks or the response.

helm plugin list
NAME            VERSION DESCRIPTION
unittest        0.2.1   Unit test for helm chart in YAML with ease to keep your chart functional and robust.

The super weird thing is that I have downloaded your repo and copied a test, value file, etc and it runs with no issue.

[2020-08-14 10:58] frealmyr opened #40 "Patch release request"
Thanks for picking the unittest plugin, it has proven to be a vital part in our test suite so it's great to see someone furthering its development.

I can see that you have fixed a issue in #38 which currently affects our CI pipeline:

[code]

Could you create a patch release containing this fix?

[2020-08-20 15:22] frealmyr commented on #40
Our CI step is working now, thanks for the hotfix!

[2020-08-20 15:22] #40 closed

[2020-08-21 19:00] quintush opened #41 "Test will always pass if the template YAML file is empty"
Problem
-----
If template YAML file is empty, test will alway pass.

How to reproduce
-----
Below passes as expected.

[code]
Below errors out with ``` - asserts[0] isKind fail ... Expected kind: Deployment ...Actual: null ```, as expected.

[code]
Below passes, but should actually fail:

[code]

Environment/Version
------
I am using the https://hub.docker.com/r/aneeshkj/helm-unittest docker image

[2020-08-23 21:44] quintush commented on #36
@stevelipinski,

Thanks for the samples, they helped me a lot.
Since version 0.2.2 it is possible to setup capabilities, see https://github.com/quintush/helm-unittest/blob/master/DOCUMENT.md#test-job for more information on how to use.

Please let me know if this feature will help.

Greetings,
@quintush

[2020-08-23 21:45] #41 closed

[2020-08-24 14:58] #33 closed

[2020-08-25 07:12] quintush commented on #33
Hello @aneesh-joseph ,

As requested i have published the plugin on dockerhub with several combinations helm client versions.
After each update of the plugin, the latest plugin in combination with several versions of helm will be published.

Greetings,
Quintus van Houdt

[2020-08-28 13:38] gcavalcante8808 opened #53 "Some errors on testing helm charts made for helm 2"
Hi, I have a helm chart that was created for helm2 and the unittests were working with the `lrills/helm-unittest` plugin.

But when I try to use this version (Installed trought the `helm2 plugin install https://github.com/quintush/helm-unittest` command) some errors about template occurs.

Helm Version: 2.16.10

The tests:

[code]
Errors:
[code]

Can u provide some method to debug these problems?

[2020-08-30 20:20] quintush commented on #53
Hello @gcavalcante8808,

The error message should not occur, as the test suite does have the testsuite.templates filled.
It seems that the plugin cannot find the horizontalpodautoscaler.yaml file in the charts/templates folder (it's looking for the file basic/templates/horizontalpodautoscaler.yaml).

I will fix this issue as soon as i have time.

Greetings,
@quintush

[2020-08-31 10:14] #39 closed

[2020-08-31 12:17] #36 closed

[2020-08-31 12:18] #53 closed

[2020-09-01 10:22] snachiap opened #59 "Coverage Report - Roadmap"
Hi Quintus,

Thank you for sharing a really useful library for Helm Unit tests.

Just wondering if it is possible to ,
- get the coverage report for the templates.

- test the values yaml with schema.

If not in plan/roadmap to implement, please close the issue as this is not a pressing issue.

Again, thanks for the

- Santhosh

[2020-09-02 01:48] longgerr opened #60 "Chart dependencies with conditions are cleared when running suite"
When we use dependencies with conditions like the following example, the dependencies which doesn't meet the conditions will be deleted from the `Chart` object, and won't be reloaded in the next test case's run.

[code]

**Fix:**
Chart's dependencies should be kept before each test's run, and recover after the run to make sure the next test run has the correct dependencies loaded

[2020-09-02 13:03] ozooxo commented on #41
Thanks @quintush for this quick fix!

[2020-09-07 15:25] #60 closed

[2020-09-11 15:15] quintush commented on #59
Hello @snachiap ,

Thanks for the suggestions.

I would love to have code coverage for the templates, however to make that happen a new helm engine must be created.
To enable coverage the original templates must be instrumented and the engine must identify the instrumentation in order to calculated which parts are hit and which are not. Following [article](https://blog.golang.org/cover) gives a go

[2020-09-14 13:52] quintush opened #65 "Refactoring package structure"
Refactoring the plugin using the packaging structure as used in Helm.
This will have the following benefits:
- Better isolation of code
- Better readability, due to easier comparison with reused helm code
- Code cleanup

As a result of the refactoring I will also revise the tests.
This will have the following benefits:
- Better separation of tests
- Less duplication of tests

End goal of the refac

[2020-09-24 11:06] isindir opened #66 "using matchRegex, notMatchRegex or similar with rendered heredocs - configmaps"
Hello,

looks like it is not possible to do with current state of the plugin following:

* I have template for configmap, something like:

[code]

and I'm trying to create a test for it, where default `expose: false`:

[code]

which fails with something similar to:

[code]

`matchRegex` and `notMatchRegex` are using regex only for a string, but in the case I have that is multiline string and also

[2020-09-26 13:04] quintush commented on #66
Hello @isindir,

Thanks for the feedback. Based on your example it seems that the regex is indeed not validating against multi-line values.

I will look info thisand hope to have a fix soon.

Greetings,
@quintush

[2020-10-01 01:27] torstenwalter opened #67 "Is it possible to specify Chart.Version?"
Background: I want to verify default labels on Kubernetes resources. They also contain `"helm.sh/chart": "{{ .Chart.Name }}-{{ .Chart.Version }}"` which contains the name of the chart and it's version.

I could write a test like the one below which checks for the current chart version:

[code]

That would not be very  practical as the tests would need to be adjusted for every version of the chart.

[2020-10-02 12:26] AaronKalair opened #68 "Required Values in templates not being tested cause cryptic error messages"
Hi,

Really like this project, and it was good to see Helm 3 support being added!

I was stumped by some cryptic error messages I was getting from Helm Unittest today:

[code]

I've managed to workout what causes it though, if you have `required` values inside of a Helm Template (Using the `required` function e.g. `{{ required ".someParameter is required" $.Values.someParameter }}`.

Then even if

[2020-10-04 00:07] torstenwalter opened #69 "Error when testing a helm v3 chart"
The chart that I want to test uses `apiVersion: v2` in `Chart.yaml` and the error I get is `### Error:  apiVersion 'v2' is not valid. The value must be "v1"`

plugin version: 0.2.4

[2020-10-04 00:10] torstenwalter commented on #69
closing this. I needed to add "--helm3" flag.

[2020-10-04 00:10] #69 closed

[2020-10-04 09:11] quintush commented on #67
Hello @torstenwalter,

Thanks for the suggestion.
I will look info this to see if the chart version van be overridden, similar as the release-name and release-namespace.

Greetings,
@quintush

[2020-10-04 09:26] quintush commented on #68
Hello @AaronKalair,

Thanks for the feedback and the clear example.
I will look into this.

Greetings,
@quintush

[2020-10-11 11:21] AmitBenAmi opened #70 "`failedTemplate` error not exists or not selected in test suite"
Hi

I have a test which I'm trying to test that it is failing with

This is my `_helpers.tpl`:
[code]

This is my test:
[code]

As you can see, all I try to check is that I get the error from the template, but I keep getting this error:
[code]

Any reason why it could happen and how can I resolve it?
Thanks

[2020-10-19 12:38] #65 closed

[2020-10-24 03:39] xordspar0 commented on #66
The problem isn't that there's a bug related to multiline strings, the problem is in your test assertion.

[code]

The matchRegex and notMatchRegex assertions use the `pattern` field to specify the pattern you want to match, not `value`. It should be

[code]

I can't reproduce this, but note that some of the unit tests in match_regex_validator_test.go test with a pattern like `"^hello"`. In Go reg

[2020-10-24 18:55] isindir commented on #66
@xordspar0 , thanks. I'll play with that again, looks like a mistake of mine. Anyway, the idea of the test was to test if configmap file gets specific content if helm value is set or not. Naturaly I was thinking to do a simple regex match and if any line is matched - return true.

[2020-10-24 19:07] isindir commented on #66
@xordspar0 @quintush - I was able to make my tests working. This is not an issue, just my mistake based on copy paste - `value` instead of `pattern`. Thanks

[2020-10-24 19:07] #66 closed

[2020-10-24 19:58] quintush commented on #66
Hello @xordspar0, @isindir,

Thanks for the feedback!

@xordspar0, i have added the scenario as testcase.

@isindir, based on the feedback i have added additional validation that the pattern field should be filled.

Greetings,
@quintush

[2020-10-25 01:37] xordspar0 commented on #66
that the pattern field should be filled.

Great idea, that will help in the future.

[2020-11-04 15:31] swysocki opened #77 "Install script fails when using wget on linux-amd64"
The `getDownloadURL()` function does not properly parse the url because of a missing space before stderr redirect on this line: https://github.com/quintush/helm-unittest/blob/c8d16ecd79afe6aac87437ac79ac0ad55918576b/install-binary.sh#L88

[code]

Adding the space allows the url to be parsed properly:
[code]

As a workaround, install `curl` as it will be preferred over `wget` and contains a space b

[2020-11-10 12:32] Toghr opened #78 "Install fails with sha256sum"
When I try to instal plugin on centos 7 I get following error:
[code]
It's caused by this part:
`curl -s -L "$PROJECT_CHECKSUM" | grep "$DOWNLOAD_FILE" | sha256sum -c -s`

While -s is valid option for shasum
[code]

It's not ok for sha256sum:
[code]

Workarounds:
install shasum, it will be preferred over sha256sum
`yum install -y perl-Digest-SHA`

[2020-11-10 13:11] quintush commented on #78
Hello @Toghr ,

I'm aware of the defect and also received a pullrequest to fix the problem (https://github.com/quintush/helm-unittest/pull/73).
However the pullrequest does not fulfill the complete request so I started investigating other options.

In the mean time i noticed there are 3 versions of sha256sum.
1 version (used in apline) which allows the -s option
2 version which supports both -s an

[2020-11-10 14:24] Toghr commented on #78
@quintush thanks for Your quick reply. I was not aware of 'alpine' version. Indeed it does not support full: '--status' option which, I was hoping, could be a good solution :(

[2020-11-12 11:23] jonastr commented on #70
+1

i am having the same problem when using istio 1.3.3 as dependent chart. it works with istio 1.4.8.

interestingly enough, `helm template` works just fine. i am suspecting some rendering quirk inside helm-unittest to be the culprit.

[2020-11-12 12:05] quintush commented on #70
Thanks for the update. I'm currently working on a fix regarding this issue. Seems that failing validations within template files (e.g. _helpers.tpl) have a different result in Helm3 than in Helm2.

A workaround could be by preventing the failure to come, using predefined values 😁

[2020-11-12 13:17] jonastr commented on #70
@quintush thanks for the quick reply!
only to add to my previous report - to make it more precise: in our case, it's this part of the changeset between istio 1.4.7 and 1.4.8
[code]

interestingly enough, helm3 also complains about the `and` in the condition `{{- if ($spec.sds) and (eq $spec.sds.enabled true) }}`.

[2020-11-12 13:22] quintush commented on #70
Thanks for the additional details.
It will help solve the issue.

[2020-11-12 16:29] quintush commented on #70
After seeing the code, i noticed that the and is positioned wrong.
I would expect the following condition would work, as the setup is based on the [golang template package](https://golang.org/pkg/text/template/):

`{{- if and ($spec.sds) (eq $spec.sds.enabled true) }}`

Similar setup is created in one of the samples in the unittest plugin.

Greetings,
@quintush

[2020-11-13 07:02] jonastr commented on #70
@quintush yes and no, i would say. :)

generally my expectation towards `helm unittest` would be that any code that passes `helm template` (and `helm lint` for the matter) would also be accepted by `helm unittest` as long as the same helm version are used.

so, yes, changing the syntax on the above example makes the unittests work. however, `helm template` also works with 'wrong' syntax. so why is

[2020-11-13 07:05] jonastr commented on #70
@quintush some more thoughts below.

as far as i understood from the code of `helm unittest` it's essentially deferring templating to helm libraries. it is therefore odd that `helm unittest` shows different behavior (like the failure we are looking at) than helm itself.

some ideas:
* are there minor/patch version of the used helm templating library that `helm unittest` is missing out on, which co

[2020-11-13 10:59] quintush commented on #70
Hello @jonastr ,

Indeed the helm unittest is deferring templating to helm libraries. I wanted to use the rendering from Helm itself as much as possible, as some template functions are only available within Helm, which otherwise needed to be developed separatly in the helm-unittest.

Currently i use the following versions to render the helm charts:
version 2.16.10 for helm 2
version 3.3.1 for helm

[2020-11-13 12:49] jonastr commented on #70
hi @quintush,

yeah, deferring makes a lot of sense to me as well. i wasn't aware though that unittest would eventually use a different version of helm libraries than the version of helm installed.

for example, i am using helm version v2.16.3 here. so that's actually an older version and templating works fine. this could imply that a bug has been introduced in newer versions of helm ;)

to get co

[2020-11-15 08:48] AmitBenAmi commented on #70
But what about the ```fail``` templating in ```Helm```?
```Helm``` template will fail this, but ```helm-unittest``` is failing itself to make the tests

[2020-11-15 12:42] quintush opened #80 "Invalid errorhandling, when chart has failure"
When a chart contains errors, the unittest plugin will give no clear error.

Please make sure there is a clear distinction between an error in the chart and a failure (e.g. required/failed functions)

[2020-11-16 20:13] #77 closed

[2020-11-16 20:13] #78 closed

[2020-11-17 23:00] #68 closed

[2020-11-17 23:00] #70 closed

[2020-11-18 09:20] AaronKalair commented on #68
Thanks for fixing this!

[2020-11-19 15:11] mydimension opened #82 "Install fails on MacOS because /etc/os-release does not exist"
Took me a while to track this down. The install command and output look like this:

[code]

Stepping through `install-binary.sh` I noted that the `cat` command will ultimately fail on MacOS:

[code]

And causes the whole script to fail.

https://github.com/quintush/helm-unittest/blob/778bc25bf69d8d22508faf1a1beb460d05255f3a/install-binary.sh#L115

[2020-11-19 17:15] quintush commented on #82
Hello @mydimension,

Thanks for the feedback.
I was assuming the 2>&1 purged the error.
My bad, never assume something...

I will try to fix it as soon as possible and will release a new version of 0.2.5.

Greetings @quintush

[2020-11-19 17:15] quintush commented on #82
Hello @mydimension,

Thanks for the feedback.
I was assuming the 2>&1 purged the error.
My bad, never assume something...

I will try to fix it as soon as possible and will release a new version of 0.2.5.

Greetings @quintush

[2020-11-20 17:34] #82 closed

[2020-12-07 22:57] uniqueck opened #84 "add feature to failFast"
Hi,

is it possible to have something like this.

If something goes completely wrong, it would be nice to have an option that stops right after the first error.
So it is easier to find the error, maybe something like template not found, or something else.

[2020-12-12 20:39] naphta opened #85 "[feat] Ability to select elements (jq style) rather than just dot and bracket notation."
Just started with this plugin and the most immediate thing I've noticed is that the path selections can be a little bit restrictive, mainly around testing outputs of loops where you essentially need to test the element before and after to make sure nothing has actually changed. I'm thinking jmespath or jq would expand the usability a fair bit for example:

[code]
vs
[code]
vs
[code]

Very loose ex

[2020-12-22 10:56] dntosas opened #86 "Strange behavior when using "toYaml" function"
### Description
Plugin seems not to match correctly output from rendered template and fails

So, we have the following into `deployment.yaml` file:
[code]
As you can see, we try different approaches with `if` and `with` to test different scenarios ^^

When running `helm template ...` we got the following output which is correct:
[code]

Now, we have also set a test like this:
[code]

Tests fails w

[2020-12-22 11:13] quintush commented on #84
Hello @uniqueck,

Thanks for the feedback.
I will try to add the failfast as an flag.

I also noticed the errorhandling can be improved.

Greetings @quintush

[2020-12-22 11:16] quintush commented on #85
Hello @naphta,

Thanks for the feedback.
I will look into the option of expanding the patch filters, however it van taken some time, as the path is parsed letter-by-letter.

Greetings @quintush

[2020-12-22 11:26] quintush commented on #86
Hello @dntosas,

With the migrations to helm3 i made the option to assert multiple templates together, which has a great benefit for recurring patterns.

The downside is that the errorhandling is still lacking. I'm working on it to improve the errorhandling.

For your specific case, can you send me the complete deployment.yaml? The fact that it can't find the path seems that something is missing b

[2020-12-22 11:40] dntosas commented on #86
Sure @quintush, here we are:
[code]

I will also try to isolate the case ^^ I tried removing everything else (templates, metadata, labels) and just keep this single block but with same behavior, maybe I missed something so I will retry it.

[2020-12-22 12:04] dntosas commented on #86
UPDATE:

When I explicitly set values in test, it succeed. When it takes values from default `values.yaml` inside the chart, it fails as described:
[code]
This suceeds ^^

[2021-01-26 22:06] stevelipinski opened #88 "Conditional Asserts Enhancement"
Curious if it would be difficult to add conditional asserts...?

I was investigating using the unittest plugin to come up with a set of tests that validate some helm chart "rules" to be imposed on multiple charts.  Thinking along the lines of a compliance audit test suite that ensures all the charts we develop abide by certain rules or best-practices.

To accomplish this, the asserts would need to

[2021-03-08 23:10] renehernandez opened #91 "Top level values file"
I am starting to use `helm-unittest` and I am planning to use a custom values file (generated through `helmfile`).

Currently, it is required to specify the `values` on a per-test basis.

Would it be possible in addition, to have a top-level `values` entry, as follows:

[code]

The different `values` field could be merged and if there are any conflicts the closer value definition to the test case

[2021-03-09 00:17] renehernandez opened #92 "Add parameter to specify paths values files"
It would be neat if the plugin supported a `--values` option that could receive an array of paths pointing to values files that would be passed down to the chart.

That would make easier test against a set of values other than the default `values.yaml` within the chart folder as well as integrate it with other tools such as `hemlfile`, which we use to dynamically generate the final set of values t

[2021-03-13 16:23] quintush commented on #91
Hello @renehernandez,

It is a good suggestion!
I will look into the solution.

Greetings @quintush

[2021-03-13 16:41] quintush commented on #88
Hello @stevelipinski,

Thanks for the feedback.
I will look into it.

I noticed there are some options.

Suggested solution:
I will try to start with an output variabele, which can be used in other assertions.
If an output variabele is set, the assertion itself will not fail.It will only put the outcome in the output variabele.

As a later enhancement the test can send a warning if a output variab

[2021-03-13 16:43] quintush commented on #92
Hello @renehernandez,

Thanks for the feedback.
I will start in this, when #91 is solved.

Greetings,
@quintush

[2021-03-15 12:07] stevelipinski commented on #88
Yeah, I think an output variable would work just as well,  and then would there be a when added to the asserts?  Essentially working like ansible, right?:
[code]

[2021-03-15 22:34] #80 closed

[2021-03-15 22:34] #84 closed

[2021-03-17 14:53] sereinity opened #94 "Tests fail if a chart uses include()"
Hello,

## what I wanted to do
I wanted to perform tests on one of my charts that has bitnami/redis as a dependency, I can't test some of document because the generation fails (only when running unittest).

My investigations shows that the issue could occurs to a lot of other charts.

## reproducing

This fails because the chart uses an include statement (to add a checksum in an annotations, which

[2021-03-17 19:34] quintush commented on #94
Hello @sereinity,

Thanks for the feedback.
I took a quick look what is causing the error (as the rendering of the charts is done exacly the same way as the template) and found the reason.

To minimize the impact of unittesting, only the templates rendered that are part of the unittest, instead of rendering all templates of the chart. This results in a failure due to a missing template.

Feel free

[2021-03-18 00:46] ocarlsen opened #95 "Error: apiVersion 'v2' is not valid. The value must be "v1""
I created a chart with Helm v3 and the Chart.yaml contains

`apiVersion: v2`

However, when I try to run the unit tests I get this error:
[code]
For reference, here is my Helm version:
[code]
I thought this fork was compatible with Helm v3?

[2021-03-18 00:59] ocarlsen commented on #95
Never mind, works with --helm3 flag.

[2021-03-18 00:59] #95 closed

[2021-03-18 10:03] sereinity commented on #94
My first step would be to catch the error and print something useful, by example right now unittest detects that there is 1 document when it fails.

If we can have an helpful error message, we could determine what the missing template is, and render it before retrying to render the first template; recursively.

I don't know if it's better (perf, other misbehave) to render all or only partially. I

[2021-03-18 15:16] #91 closed

[2021-03-18 17:16] quintush commented on #94
Hello @sereinity ,

Thanks for the update and the suggestions.

Currently i have created a fix, which has a better identification of an unexpected failure (see https://github.com/quintush/helm-unittest/blob/c68b9673a8bac20c4f4653d2043aef836c161b91/pkg/unittest/.snapshots/TestV3RunnerOkWithFailedTests#L280 as the result of your testscenario).

I will additionally document that the chart will only r

[2021-03-18 19:44] sereinity opened #98 "contains will pass in almost all cases if count is provided"
if `count` is defined in `contains`, and if `path` exists, the test will pass.

`contains` will not check for the `value (and `count` can even be a negative or a floating number :smile: )

[code]

Current result:

[code]

[2021-03-18 20:22] danielhoherd opened #99 "metadata.annotations is expected to be array when it should be a map"
## Description

metadata.annotations is expected to be array when [it should be a map](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/).

## Test

[code]

## Result

[code]

# Discussion

Using the `contains` example as a reference...

[code]

…I expected my test would work. Looking through the code, I don't see a reference to 'annotations' anywhere so I suspect the

[2021-03-18 20:49] danielhoherd commented on #99
I think I discovered my issue. The `contains` comparison expects the 'content' to be the contents of an item within an array of the comparator, not a direct dict.

[2021-03-18 20:50] #99 closed

[2021-03-18 20:57] quintush commented on #99
Hello @danielhoherd,

You already answered yourself. 😁

You can try to use the following as a test:

[code]

The equal should validate the complete map.

Greetings,
@quintush

[2021-03-18 20:58] danielhoherd commented on #99
@quintush thanks for the quick reply! Also, I really appreciate the work you've put into this project.

[2021-03-19 23:34] ocarlsen opened #100 "Feature request: Please add appVersion to Chart object"
Liking library very much.  However, we utilize `Chart.appVersion` in our templates, but this cannot be set when running unit tests.

Please add `appVersion` to `Chart` object in [Test Suite](https://github.com/quintush/helm-unittest/blob/master/DOCUMENT.md#test-suite).

[2021-03-22 21:45] quintush commented on #98
Hello @sereinity,

Thanks for the feedback. After some additional testing i do noticed not all paths are validated correctly.
Especially the combination with the contains as you mentioned are a bottleneck.

I have created a fix including additional unittest which should solve the problem.

p.s. the values in the count are parsed to integers (using the mapstructure library), i did not created addit

[2021-03-23 08:00] #94 closed

[2021-03-23 08:04] quintush commented on #100
Hello @ocarlsen,

Thanks for the feedback.
I will add it as a feature.

greetings,
@quintush

[2021-03-23 08:15] #98 closed

[2021-03-23 08:26] #100 closed

[2021-03-23 12:49] renehernandez commented on #92
@quintush I can take look if you are busy

[2021-03-23 14:15] quintush commented on #92
Hello @renehernandez,

Besides some validation tests, it already implemented.
Hope to have a pullrequest very soon.

Greetings,
@quintush

[2021-03-23 14:23] renehernandez commented on #92
Great! Looking forward to the next release

[2021-03-23 21:35] #92 closed

[2021-03-24 14:39] renehernandez opened #105 "Release new version"
Can we get a new version released?

I need that in order to work on the helmfile integration.

[2021-03-25 12:19] quintush commented on #105
Hello @renehernandez,

I'm planning to create release 0.2.6 not later than april 1st (no april fools Joke 😂)
Still working on the last feature request.

Greetings,
@quintush

[2021-03-29 18:09] ocarlsen commented on #105
Hey @quintush ,

Is there any way to view the current version I have installed?  I tried to confirm [this feature](https://github.com/quintush/helm-unittest/pull/103) but its not working yet.  Then I wondered if I had the latest version?  It says 0.2.6 in `helm plugin list` but then I saw here the release was not made yet.

[2021-04-02 13:12] leonenkoa opened #107 "Contains assertion type doesn't support annotations map"
Hi, thank you for the useful plugin.
It seems that contains assertion type doesn't support metadata.annotations map.
Is this due to any limitations ?

[2021-04-02 16:38] quintush commented on #105
Hello @renehernandez,

Version 0.2.6 is succesfully released, including docker containers on dockerhub.

Greetings and happy easter.
@quintush

[2021-04-02 16:48] quintush commented on #107
Hello @leonenkoa,

The contains assertion is expecting an array.
The map is technicaly not an array. That is why the contains is not working.

You can validate maps with the equal (which can handle complex structures), or validate if a specific map is available with IsNull.

I also will look on creating a containsMap assertion to validate if a specific map, with value is available.

Greetings,
@qu

[2021-04-02 17:59] gcavalcante8808 commented on #107
Hey @quintush, do you have an example with isnull and a map assertion? I’m
looking for it as well.

On Fri, 2 Apr 2021 at 13:48 Quintus ***@***.***> wrote:

[2021-04-03 09:01] quintush commented on #107
Hello @gcavalcante8808 ,

As a quick answer,
Take a look at the [ingress tests](https://www.github.com/quintush/helm-unittest/tree/master/test%2Fdata%2Fv3%2Fbasic%2Ftests%2Fingress_test.yaml#L54).
It will not have the IsNull, but it does show how to select a specific map.

Greetings,
@quintush

[2021-04-12 17:13] #105 closed

[2021-04-13 13:30] thib92 commented on #85
I have run into it as well.
using a lib like [gojq](https://github.com/itchyny/gojq) might help with this implementation. I haven't looked at how the path selector is implemented on `helm-unittest` yet.

[2021-04-13 16:15] naphta commented on #85
That's true but is that not more of a hidden feature?

`x.y.z` returns a an object which can then be compared to an object.

[2021-04-16 12:11] svobol13 opened #109 "Not helpful error"
Hello, I have a question why do I get errors like:
[code]

instead of error like:

[code]

The original error would be really helpful to me. I am really often unable to find out why my test is failing unless I run the test with debug mode. I found that the alot of information is trimmed from the error here:
https://github.com/quintush/helm-unittest/blob/1693f4f0a35624b1c3f6453d4f0893758e3d99a3/pkg

[2021-05-04 13:05] andriisoldatenko opened #110 "Is it possible to set values from sub-chart into top level chart?"
I have example: from https://github.com/astronomer/astronomer/blob/master/values.yaml#L6

is it possible to overide `global.baseDomain` value from `grafana` sub-chart/sub-folder https://github.com/astronomer/astronomer/tree/master/charts/grafana:
[code]

[2021-05-11 15:36] armingerten opened #111 "Unittests with helm3 cause unwanted side effects"
We recently updated our helm charts to apiversion 2 and are therefore using the helm3 flag (i.e. `helm unittest -3 .`) to execute our test suites.

Unfortunately, when running multiple test jobs within a test suite, values provided via `set` in one test job are still present in every consecutive test job. This causes assertions of the consecutive jobs to fail, due to the set assumptions no longer

[2021-05-11 19:52] quintush commented on #109
Hello @svobol13,

There is indeed a reason that the error is trimmed. When the assertion on failed messages was created, the trimming was the only option to verify the failure message.

I will try to set the trimmed error and the original error. When no failure assertion is net, it will show the original error.

Hopefully this will improve in identifying failures.

Greetings @quintush

[2021-05-11 20:22] quintush commented on #111
Hello @armingerten,

Thanks for the feedback.

The implementation indeed should behave, as each test has immutable values.
Somehow i missed a testcase, validating that behaviour.

I will look into this and try to fix it.

Greetings,
@quintush

[2021-05-12 22:44] #107 closed

[2021-05-13 13:33] quintush commented on #107
Hello @gcavalcante8808,

I have created some examples with mappings.
https://github.com/quintush/helm-unittest/blob/71544f7a30e97d280545da8cd5ba61b27d28f75c/test/data/v3/basic/tests/ingress_test.yaml#L72

Hopefully this will help.

Greetings,
@quintush

[2021-05-14 08:36] jeratora opened #113 "Question about "contains" assertion"
Hi.

I'm trying to test the existence of an item of an array without using any positional value.

Yaml to be tested is :
[code]
Please note that `phony-service.phony:graphql` is not a key/value pair but a whole string.

The following assertion fails:
[code]
with that odd error:
[code]

Whereas the "positional" assertation works:

[code]

Any idea about what I could have missed ? Thanks in advance.

[2021-05-14 09:01] jeratora commented on #113
Some additional info about that issue

If the yaml to be tested is:
[code]
Then the error is:
[code]

Shouldn't `any: true` prevent this ?

[2021-05-14 09:16] jeratora commented on #113
Ok, the plot thickens....

It seems the issue is really related to the fact this item is not a key/value pair. Because a normal key/value pair item does not raise the issue.

[2021-05-15 14:08] quintush commented on #113
Hello @jeratora,

The plot is indeed that the contains, only expects key/value pairs.
You can also see it in the [contains unittests](https://www.github.com/quintush/helm-unittest/tree/master/pkg%2Funittest%2Fvalidators%2Fcontains_validator_test.go)

I will look if it is possible to expand the contains  to also look at only values.

Greetings,
@quintush

[2021-05-16 19:24] quintush commented on #111
Hello @armingerten,

I have verified some scenario's and with all the current testcases i'm not able to reproduce your situation.
As an example, when I use the following [ingress testsuite](https://github.com/quintush/helm-unittest/blob/71544f7a30e97d280545da8cd5ba61b27d28f75c/test/data/v3/basic/tests/ingress_test.yaml) in different order and run them, they all pass. As, based on my interpretation

[2021-05-17 11:09] armingerten commented on #111
Hi @quintush,

thanks for the quick reply!

I was also having trouble narrowing down the exact root cause for this issue. I renamed and stripped down my chart as much as possible until I ended up with [this minimal setup](https://github.com/armingerten/example-chart) to reproduce the issue.

When running `helm unittest -3 .`, the following output is displayed:
[code]

There is a couple of observat

[2021-05-20 14:07] rquinio1A opened #115 "import-values of subcharts not applied in some cases"
I'm trying to use helm-unittest 0.2.6 on Windows to test my charts, but I noticed something weird:
- Everything works fine with the first 2 test cases
- But when I add a 3rd case (identical to the 2nd case, in the same test suite or a separate one), then import-values is not honored and I get nil errors on some global values.

My Chart.yaml has:

[code]

The difference I see in the vscode debugger

[2021-05-20 15:04] JasonCrease opened #116 "Question: Testing rendered ConfigMaps"
We have some `ConfigMap`s with complicated data items for configuration files and such. Since these are strings, we end up doing a lot of `contains` and `matchRegex` to ensure things are within the file. But since the Strings are usually structured, we'd love to be able to do something like:

[code]

i.e. Using JSONPath to locate items in Strings.

Is this a feature on the backlog? Or is there a w

[2021-05-21 13:25] rquinio1A commented on #115
After some more investigations, I have found a potential fix.

[2021-05-26 20:39] danielhoherd opened #118 "Add tutorial doc"
I have written [a tutorial doc on how to write unittests for this helm-unittest framework](https://github.com/astronomer/airflow-chart/blob/31634a60610/tests/README.md). It has been useful to both my company and to FOSS contributors. I'd like to contribute it here, but I'm not sure where it would fit in.

[2021-06-07 13:33] armingerten commented on #111
Did you have any luck reproducing the issue?

[2021-06-23 08:27] elopezvalecky commented on #34
Maybe is better to call the plugin **integrationtest** instead of _unittest_... then less confusion and more precises .

[2021-06-25 15:12] quintush commented on #109
Hello @svobol13,

I have created a fix that will show the complete error.

Will try to create a release within the following days.

Greetings,
@quintush

[2021-06-25 15:25] #115 closed

[2021-06-25 15:28] quintush commented on #115
Hello @rquinio1A,

Thanks for the fix.
I have merged the code and additionally i will add a testproject to verify the behaviour.

Greetings,
@quintush

[2021-06-30 15:52] benzvan opened #120 "Local dependencies point to another fork of helm-unittest"
Several import statements point to the irills fork, meaning changes made in this repository are not necessarily reflected in the resulting binary.

Example

[code]

[2021-07-01 06:15] plentifullee opened #122 "Assert equals without hardcoding values"
Say I want check whether a value equals another value:

- equal:
          path: spec.template.spec.containers[0].livenessProbe.periodSeconds
          value: spec.template.spec.containers[0].readinessProbe.periodSeconds

The above doesn't work

`- asserts[5] `equal` fail
			Template:	testa/templates/deployment.yaml
			DocumentIndex:	0
			Path:	spec.template.spec.containers[0].livenessProbe.period

[2021-07-10 13:43] krichter722 opened #124 "Ownership of the original repo"
@quintush, your doing a fantastic job in maintaining and developing this tool that is so desperately needed in a world with so many charts and so few unit tests for them.

Did you consider taking over the original repo https://github.com/helm-unittest/helm-unittest which is already recommending your fork as more up-to-date?

It's a bit of responsibility that you've basically already taken over and

[2021-07-10 13:48] krichter722 opened #125 "Include comparison of expected and actual value in failure message"
It'd be nice if a comparison between the expected and the actual value would be included in test failure messages.

There needs to be a concept/decision made about overlong actual and expected string values. I guess the first step could be truncation from the beginning, follow-up could be an excerpt of the start of the first mismatch plus a bit of offset to make it easier to find.

[2021-07-26 19:14] quintush commented on #111
Hello @armingerten,

It took some time to investigate the actual situation.
The situation can be separated in 3 parts.
1. Importing data from subsubcharts
2. Global values
3. Dependency version

1 There was an issue that importing data in sub-subcharts got corrupted (#115). This problem could relate to your first observation.

2. The use of global values impact all charts, so when multiple charts

[2021-08-16 14:22] armingerten commented on #111
Hello @quintush,

I also did some more investigation / testing and figured out a solution that works (for my case):

Since the `v3chart.Chart` object seemed to carry unwanted state between individual job executions, I tried (re)loading the chart before every test job.

I altered the TestSuite to include a reference to the provided chart path and provided the latter during initialization of the tes

[2021-08-29 09:25] svobol13 opened #129 "Macosx arm64 support"
Tried to install this plugin on M1 Macbook and got failure because there is no prebuilt macos-arm64 binary available.

[2021-09-10 12:14] laptua opened #131 "Unit test fail randomly"
### Unit test fail randomly
test data contains array of only one element. Test case override to add more elements. Repeatedly run the same test without change. Testcase occasionally failed. If test data contains multiple elements, i.e. without override with set command in testcase. Problem do not exist.

### Testdata
[code]
### Testcase
[code]

### Repeat run the same test without change, testcase

[2021-09-13 16:38] red8888 opened #132 "Is it possible to share set values between tests (I guess like a fixture?)"
I want to write sort of the equivalent of an integration test I guess.

I have a couple different "types" of apps I deploy and they all use mostly the same parameters. I want to write a test that describes a complete profile of parameters to deploy a specific classification of app. This could be "public web app with mysql DB", "internal  web app with redis DB", etc.

If I could do this then these

[2021-09-13 16:57] red8888 opened #133 "How do I search for items in a list?"
How do I search for a value in a yaml list?

For example say I have this:
[code]

I just want to see if `argthree` exists (without having to know the specific index number)
[code]

That returns an error `expect 'spec.template.spec.containers[0].command' to be a string`

If I need to know the specific index it makes it very rigid. Thanks!

[2021-09-13 20:56] red8888 commented on #133
Sorry I see it in the docs

[2021-09-13 21:22] red8888 commented on #133
Im reopening because I found contains but not sure how to use it.

This is a more specific example:
[code]

I can't figure out how to properly describe this in a test.

This is not valid:

[code]

And this adds "-" to the items
[code]

Which doesn't match
[code]

[2021-09-14 13:29] red8888 commented on #133
I also tried this:

[code]

The output is confusing because it looks like it should pass:

[code]

[2021-09-20 17:20] mederel commented on #34
good write another chart on the side that uses the library chart and put the tests there

[2021-09-21 09:15] mederel commented on #111
Hi @quintush @armingerten

just wanted to share that on my side with quite complex helm v3 charts I encountered the same issue with states overlapping to other tests. Using the code of @armingerten 's PR and compiling the plugin again fixed my issue.

I am using helm v3.7.0.

[2021-10-04 13:44] benzvan commented on #120
This appears to have been resolved by someone else.

[2021-10-04 13:44] #120 closed

[2021-10-04 15:52] #129 closed

[2021-10-19 16:05] davidholsgrove opened #134 "Helm values.schema.json and failedTemplate errorMessage"
Hi @quintush, first off - thanks for the continued work on helm-unittest, its fantastic!

I've been adding a `values.schema.json` to validate the inputs to the chart that I'm also testing.

I've got a simple validation on my `.Values.deployment.replicas` that its a required field, and must be of type integer, e.g;

[code]

which gives the right validation on use of helm cli;

[code]

[code]

I've

[2021-11-01 22:13] #111 closed

[2021-11-01 22:24] quintush commented on #116
Hello @JasonCrease ,

I see some similarity in the issue #85.
I do want to implement a kind of improved validator for mappings, but i'm currently investigating on how the implement this the best way (with the limited time i have).

Currently you are already using the workaround by using contains and regex.

Greetings,
@quintush

[2021-11-01 22:29] quintush commented on #118
Hello @danielhoherd,

If you want, you can add the tutorial as a file to the root folder (calling it TUTORIAL.md).
In the README.md I would prefer to append the link of the tutorial in the "Get Started" section, we you can decribe a more elaborated explanation to get started.

[2021-11-01 22:35] quintush commented on #122
Hello @plentifullee ,

It is not possible to use the output of a path as value for another path.

When you would like to have always the same value for multiple paths, i would recommend to set the helm chart to re-use a field defined in the values.yaml.

Greetings,
@quintush

[2021-11-01 22:38] quintush commented on #124
Hello @krichter722 ,

I do have contact with the original maintainer and we are making preparations to merge both repositories.
Still i'm looking for a good opportunity to make it happen.

Greetings,
@quintush

[2021-11-01 22:41] quintush commented on #125
Hello @krichter722 ,

Can you give me an example of what you are missing?

All the validator have and Actual, Expected and some also have a Diff listed.
Based on the other questions, i do notice that the Diff can be better explained, but if you have better ideas to improve the errorhandling i'm open for suggestions.

Greetings,
@quintush

[2021-11-01 22:54] danielhoherd commented on #118
@quintush We're actually not using the helm-unittest framework anymore, so I'm not sure how relevant that tutorial is to modern helm-unittest. We [switched to using pytest to test helm charts](https://github.com/astronomer/astronomer/blob/master/tests/README.md) because it is more feature rich and is a more broadly useful skill to have, and is more broadly used. FWIW, your fork of helm-unittest wa

[2021-11-02 15:08] crunchtime-ali opened #139 "Include helm-unittest in chart-testing repo"
Almost one year ago I asked in helm/char-testing https://github.com/helm/chart-testing/issues/293 what they think about adding unittest to the default functionality but I never got an answer.
What is your take on this? IMO having unittest-functionality in Helm's core is a no-brainer...

[2021-11-09 06:10] eshepelyuk commented on #34
The library chart can only be tested on a fake chart that uses the library.
But this project could simplify a developers' lives by hiding this, i.e. detecting that current chart is a library and creating a fake chart behind the scene, with the library chart as dependency.
Wdyt ?

[2021-11-16 13:32] lexfrei opened #141 "[feature request] Fail test on execution error"
Hi!
Just faced an issue with an invalid YAML file with tests and passed tests.
Is this expected behavior? IMO, the exit code should be not zero.

[2021-11-16 13:47] #141 closed

[2021-11-24 23:00] eshepelyuk opened #142 "Make Helm3 as default"
Currently, this plugin considers Helm2 as default, so users should explicitely pass `-3` argument to make it work.

Since Helm2 is **EoL**  for almost a year already - the library must make Helm 3 as default.

https://helm.sh/blog/helm-v2-deprecation-timeline/

[2021-11-27 13:11] raghav19 opened #143 "helm-unittest plugin fails to test sections which are applied from library chart"
I recently have developed a library chart for a certain set of functions which is added as a dependency in another chart. The dependency is updated using the `helm dep update <my-chart>` command.

The `config-pvc.yaml` using the library chart is as follows
[code]

The unit test for the same is written under `_test` folder with the file `configpvc_test.yaml` as follows:
[code]

The result of runnin

[2021-11-28 09:59] rquinio commented on #143
It might be an indentation/newline issue on `apiVersion: v1`, since it's the first element of the document ?
I usually do a `helm template --debug` to check the rendered YAML

[2021-11-29 03:33] raghav19 commented on #143
Hi @rquinio ,
The following is the templated `config-pvc.yaml` which is getting rendered successfully after doing dependency update.
![image](https://user-images.githubusercontent.com/21075059/143804595-80800d5b-d059-4190-b725-a1041cd30c20.png)

I even tried `helm install --dry-run...` and there are no errors there as well.

[2021-11-29 14:33] mederel opened #144 "Bug with helm v3: templating error messages parsing error"
Hi,

recently my unittests started to fail on asserts with failedTemplate and errorMessage expectations. The test was outing something like that:

[code]

Looking into it is actually the regular expression that parses the helm error messages that does not work anymore for helm v3.

I opened a pull request with a fix proposal. I added also tests on V3 of failedTemplate validation.

Best regards, Em

[2021-12-16 08:41] raghav19 commented on #143
@quintush , any way to approach this which I might be doing wrong?

[2022-01-07 10:03] rlaveycal opened #146 "Only .yaml template files are supported"
There is a switch statement

https://github.com/quintush/helm-unittest/blob/a12ec70dc89fd75fd35f06597d49f4be0de90e47/pkg/unittest/test_job.go#L613

that adds rendered files to the manifest used by the test engine. This filters on the file extension of the template file and only supports `.yaml` and `.txt`. Any other extension (e.g. `.yml`, `.tpl`) is silently ignored.

This caused me a lot of grie

[2022-01-20 11:18] kishkk84 opened #148 "How can i run helm-unittests in Jenkins?"
Hi all,

We have many charts in the repo and i am writing helm-unitests in each and every chart. Whenever any engineer makes any changes to the chart & commits it, i want to run the jenkins pipeline which will run the helm-unittests. Any idea how can i target only the changes made to the chart runs unittests?

Here is my set up in the repo:

platform-charts
- application-charts
  - Chart 1
    - t

[2022-01-20 21:34] fieldju opened #149 "How can you view the the rendored template, when a test fails"
:wave: hello, new to using this library.

I have a test

[code]

Its failing

[code]

I'd like to see what was rendored when a tests fails or just in general to help write the tests.

Is there a way to see the rednored templates that I am missing?

[2022-01-20 21:34] B3arp commented on #148
Something like this should give you a list of all charts that changed, and you can loop through it to unit test.

`git diff --name-only HEAD~1 | awk -F "/*[^/]*/*$" '{ print ($1 == "" ? "." : $1); }'  | awk -F/ '{print $1"/"$2}' | sort | uniq`

[2022-01-20 21:46] fieldju commented on #149
I had a typo in `tempaltes` -> `templates` when I fixed that things started working, but I still want to know if there is a way to view the rendored templates for a test.

[2022-01-21 18:30] bamsammich commented on #144
Running into this same error trying to test against JSON schema validation with Helm3. @quintush will this be looked at/merged soon?

[2022-01-25 13:43] armingerten commented on #146
regarding `.tpl`: A `.tpl` itself does not generate any output, so IMHO it must not be included in the switch-case block. If template functions from `.tpl` are included in a manifest template, the unit case should test the resulting manifest instead. Testing the template function from the `.tpl` file directly feels similar to testing / trying to test private methods in a C-like language... This is

[2022-01-25 16:37] kishkk84 opened #151 "Unable to use -f option of cli set as the glob patterns of test suite files"

[2022-01-25 16:49] #151 closed

[2022-01-26 18:51] #144 closed

[2022-01-26 18:54] #118 closed

[2022-02-05 07:58] eshepelyuk opened #152 "[feature] Add assertion for count items in list."
Hello

Currently there is no way to assert that a list contains certain number of elements.

Maybe it could be usuful for the maps as well, ike metadata annotations.

[2022-02-07 19:57] eshepelyuk commented on #142
@quintush I've created a PR for this, could you plz review ?

[2022-02-08 23:25] rquinio commented on #152
There's a "contains" assertion https://github.com/quintush/helm-unittest/blob/master/DOCUMENT.md?plain=1#L174 , not sure if it's only for arrays?

[2022-02-09 03:28] eshepelyuk commented on #152
` contains` is not suitable, it can not answer if partifular array / map has exact N number of items / keys.

[2022-02-09 03:28] eshepelyuk commented on #152
In fact, I am ready to pick up this and try to implement.

[2022-02-17 10:40] faithdoub commented on #134
Want to reiterate what @davidholsgrove said.  Appreciate this plug in @quintush

I am also experiencing this issue and it's an important use case for me.

[2022-02-17 11:32] rquinio1A commented on #134
Maybe it's the same root cause as #144 (fixed in master, not yet released) ?
Because looking at the code, schema is suposed to be validated here https://github.com/quintush/helm-unittest/blob/master/pkg/unittest/test_job.go#L443 (relying on https://github.com/helm/helm/blob/a499b4b179307c267bdf3ec49b880e3dbd2a5591/pkg/chartutil/values.go#L159).
I guess a test with a JSON schema, should be added to

[2022-02-24 17:49] lsolovey opened #156 "Question about Helm version used in unit tests"
Hi @quintush,

first of all - thank you so much for maintaining this great plugin!

I have a question about actual version of the Helm engine used while running unit tests. You publish multiple Docker images for the same version of `helm-unittest`, e.g. the latest version `0.2.8` has images: https://hub.docker.com/r/quintush/helm-unittest/tags?page=1&name=0.2.8

- 3.7.1-0.2.8
- 3.7.0-0.2.8
- 3.6.3

[2022-02-24 18:10] lsolovey opened #157 "Degradation of tests performance in release 0.2.8"
I noticed significant degradation of performance in running our unit tests using `0.2.7` vs `0.2.8`. The time increased from ~10 seconds to ~6 minutes.

Is anyone else seeing this as well? Why is there such a big difference?

[code]

[code]

[2022-02-25 08:44] rquinio1A commented on #157
It might be the reload of the chart under test between each test case: https://github.com/quintush/helm-unittest/commit/d55debb5d92969b5d21b019dc73d2acf3f1fc494
I think the problem is that Helm lib is not designed to do more than one rendering (I guess it's not use case the CLI has to support), so they were nasty bugs with original cloning solution.

[2022-03-03 14:40] rquinio1A opened #158 "Support for array filtering in paths"
Instead of

[code]

it would be more maintainable to filter on the properties of the array elements:

[code]

Even better would be to replacing the custom path traversal implementation (https://github.com/quintush/helm-unittest/blob/master/pkg/unittest/valueutils/valueutils.go#L156) by a dedicated lib.

There seems to be 2 standards:
- JSON-path, implementation:  https://github.com/vmware-labs/yam

[2022-03-17 10:07] mederel opened #160 "[ARM64] failedTemplate assert failing for template not found error"
This issue is going to be for a niche of users only... I found that the following combination does not work:

* a template that uses "template" function with a name of named template that does not exist
* a test suite with an assert: template "blabla" not defined

If I run this on an amd64 machine, with helm and helm unittest for that architecture, it works.
However if ran from an aarch64 (arm64 C

[2022-03-24 07:39] MathieuAvila opened #161 "Ability to check for values against JSON schema correctness"
Hello,

Is there a way to check that the JSON Schema is applied correctly by Helm and the charts ?

The idea is to check valid and invalid values, and check they are accepted or rejected by the Helm chart. For now, I understand it is only possible to check for correctness, as incorrectness would fail upfront. Would that be a good idea to add helm-unittest the possibility to test failure ?
For now,

[2022-03-25 11:05] iben12 opened #162 "FR: `isSubset` assertion to handle multiple keys"
It would be a nice feature if `isSubset` could handle multiple keys, not just one.

What I mean? Take this manifest:
[code]

For this I would like to assert that a _subset_ of the labels are present, but do not care about the rest:
[code]
I think this is in line what _subset_ means. The current implementation of `isSubset` is rather `hasElement`.

If I want to achieve the above now, I can either a

[2022-03-25 14:29] iben12 commented on #162
Maybe something like this could achieve that: https://github.com/iben12/helm-unittest/commit/b5ccd70a31a737606efbeb847fd2320dcf8d3940

Should I open a PR?

[2022-03-25 17:51] rquinio commented on #161
I think PR #155 should enable this ?

[2022-04-04 13:20] johanvandeweerd opened #164 "Assert equal on whole manifest"
Currently it's not possible to assert a whole manifest/document.

When you have this manifest:

[code]

and this unit test with an `equal` assert with an empty `path`:

[code]

I would expect the test to pass but it fails with following output:

[code]

When browsing the code I see when `path` is empty, [the whole manifest is returned](https://github.com/quintush/helm-unittest/blob/master/pkg/unit

[2022-04-18 14:50] B3arp commented on #148
@kishkk84 Sorry for the delay, life happened.  Here is an example of running this through jenkins.  This will generate a list of folders that have changed and then passes the chart roots to helm unit-test
`git diff --name-only HEAD~1 | awk -F "/*[^/]*/*$" '{ print ($1 == "" ? "." : $1); }' | awk -F/ '{print $1"/"$2}' | sort | uniq | xargs helm unittest -3`

[2022-04-28 08:48] pluess opened #165 "Installation fails in cygwin with bash"
It's not possible to instal the plugin form a cygwin environment:
[code]

After the failed install
`helm plugin list`
lists the plugin as installed.
`helm plugin uninstall unittest`
is necessary to get rid of the failed installation.

[2022-05-06 21:00] erik-carlson opened #166 "Ordering of rendered documents"
I just started using this tool and I'm trying to write tests for a chart that uses named templates and finding that the order of documents that unittest renders is different from that generated by helm template.

For instance if I have a chart with a named template for an Ingress resource and another for a ConfigMap resource, then I have one template file that includes the ingress first and then t

[2022-05-25 16:50] dj-wasabi opened #167 "Check/count volumes (or even environment variables) that they don't exist"
Hi,

I have a helm template that based on a bool, a specific volume is added or not. I try to test this with a unit test but I don't get it to work.

I have tried this (only 1 volume instead of 2)
[code]
I also used contain, but then it complains about that I am comparing yaml which isn't supported. Based (on actually the same boolean) I add 2 environment variables. So if I set it to false, I dont

[2022-06-14 12:43] kazysgurskas commented on #166
Ran into this recently also.
Must have several templates defined in the `templates` array, due to one `include`'ing the other. Then the assertion returns this:

[code]

Specifying `documentIndex: 1` resolves the issue.

[2022-06-27 21:59] obsidian33 opened #168 "'hasDocuments' assertion returning 1 while `helm template` returns 2"
I just started utilizing this helm plugin and everything was going great until I tried to test logic that creates multiple templates, in my test it is 2. Below are shortened versions of my files. When I run the `helm template` command I do have 2 deployment documents outputted.

deployment_test.yaml
[code]

deployment.yaml
[code]
_deployment.yaml
[code]

When running the test I get:

[code]

[2022-06-29 21:42] obsidian33 commented on #168
It appears that my issue was due to the dashes used to strip whitespace. I found this [Helm lint error](https://github.com/helm/helm/issues/10149) issue that prompted me to test various scenarios.

It's strange that the helm lint and template commands did not throw any errors at all but the tests started passing once I adjusted my deployment.yaml:

[code]

[2022-06-29 21:42] #168 closed

[2022-06-30 16:27] jkamenik opened #169 "Chart Name is not change-able"
An edge case, but one that comes up more then it should is the need to change the Chart name.  This can cause issues if `{{ .Chart.Name }}` is used in an immutable part of the spec.

# What should happen?

The `.Chart.Name` value should be override-able so that we can test various upgrade scenarios including cases where the chart name had to change.

# What happens

You cannot override the chart v

[2022-07-20 03:22] #152 closed

[2022-07-20 03:29] eshepelyuk opened #170 "[question] Is this repository / project dead ?"
Hello

Waht is the status of the project ? There is a number of useful PR open without feedback provided for several monthes.

If this project has no maintainers that are willing to continue working on it - maybe there exist some active forks that can be used ?

Please suggest.

[2022-07-21 11:50] vutkin commented on #170
<img width="1208" alt="image" src="https://user-images.githubusercontent.com/25753488/180206840-3d8cac83-cf7a-4ed7-bdde-c16e60283237.png">
 Looks like a dead project

[2022-07-23 17:19] d3adb5 commented on #170
That's pretty unfortunate. Are there actively maintained forks? Skimmed the list a while back, but didn't look into it very closely. It's somewhat depressing given I've started using this for testing Helm charts in a few projects recently and found a few bugs I was hoping would be fixed sometime soon. Not a Go developer, but might take matters into my own hands at some point.

[2022-07-23 17:28] d3adb5 commented on #132
While it isn't what you're looking for, YAML anchors and the fact unittest isn't strict about its schema can help you here:

[code]

Sadly, AFAIK only the tests themselves, not the assertions, can be limited to specific templates:

[code]

[2022-08-12 13:19] Sam-Tymoshchuk opened #171 "[question] Is that possible to assert two paths?"
I would like to compare that sa created in a dependency chart is what set to serviceAccountName in my deployment?

[2022-08-20 18:09] mballoni commented on #170
Agree!

I few there is a lack of maintained testing projects aiming helm charts.

[2022-08-20 19:28] quintush commented on #170
Will pick-up beginning of next month. Will have some more time, and will also move to a more central repo, to add more maintainers.

Sorry die the delay in responding.

Greetings,
@quintush

[2022-08-21 17:38] d3adb5 commented on #171
Might be a good idea to enable the Discussion tab for this kind of issue, @quintush.

@Sam-Tymoshchuk As far as I can tell, no it isn't possible. It would mean referencing something within another rendered object, which isn't part of this library. Might be an interesting feature to add, however, as often we don't care too much about testing the templating logic as much as we do testing an object i

[2022-08-22 13:35] mballoni commented on #170
Thanks @quintush , no need to apologise, its your free time and we appreciate your efforts!

[2022-08-29 11:18] alvarezfr opened #172 "The chart.appVersion is not being applied"
I think the problem is that the tool is getting the chart version defined in the file Chart.yml instead of my unittest configuration.

I have just installed the plugin with the command `helm plugin install https://github.com/quintush/helm-unittest`, so it should be updated but I cannot find the flag to see the version.

My config:
[code]
The label `app.kubernetes.io/version` is generated with this

[2022-08-29 17:31] 0xStarcat commented on #68
I have a similar setup & example using helm's `required` function, however i'm using the `failedTemplate` assertion and get this cryptic message: `yaml: found character that cannot start any token`

When providing a value it goes away.

[2022-09-06 17:20] 0xStarcat opened #173 "[request] Allow templates to be selected via wildcard"
Hey! I really love this plugin. I had a request that I think would be a nice feature to add for testing scenarios like the one I'm encountering.

Say your team's pattern is to separate configMaps into their own files:

[code]

And say you want to run a test on all of them plus any future files that get added to the `templates/configMaps` directory. At present, the test requires you to manually add

[2022-09-07 06:56] froy001 commented on #133
@red8888 did you figure this out?

I am trying to test the following and assert only on the first item:
[code]
The test:

[code]

I get this failure:
[code]

 And I don't know why this doesn't limit the test to only one item from the array.

Naturally please assume all indentations are correct because they are :)

[2022-09-07 07:08] froy001 opened #174 "[bug] - contains fails when expected and actual content is the same"
The template:
[code]

The test:
[code]

The failure:

[code]
Obviously this should pass.

[2022-09-23 11:54] edmeister opened #176 "[question] How can we assert prefixed labels?"
Hi,

I was looking for a way to assert labels or annotations with the prefixed format as is currently recommended in Kubernetes. I tried multiple formats, but the YAML parser seems to be unable to handle this format in a path.

What would you recommend here?

Example:
[code]

[2022-09-24 13:23] #134 closed

[2022-09-24 14:52] quintush commented on #164
Hello @johanvandeweerd,

It has been a while before the confirmation.
Indeed it is not possible, however using the [snapshot](https://github.com/quintush/helm-unittest/blob/master/README.md#snapshot-testing) functionality, you will get similar behavior and less coding.

Greetings,
@quintush

[2022-09-24 14:56] quintush commented on #166
Hello @erik-carlson,

The rendering of the 0.2.8 helm unittest is done with the 3.7.1 library, so the behaviour can indeed be different.
I will try to update the libraries more regular, to align with the latest version.

Greetings,
@quintush

b.t.w. the 0.2.9 version will use the current latest helm (3.10.0) library.

[2022-09-24 14:58] quintush commented on #170
Hello all,

Will pick it up again. Indeed it took some time.
As a quick update i have approved some pullrequests, that do have a lot of benefits, don't have a huge impact, so a new updated version is quickly available.

Greetings,
@quintush

[2022-09-24 14:58] #170 closed

[2022-09-24 15:12] quintush commented on #172
Hello @alvarezfr,

I will look into it.
Did have some tests validating the behavior, but it seems my tests aren't fully covered.

 Greetings,
@quintush

[2022-09-24 15:13] quintush commented on #173
Hello @0xStarcat,

It is indeed a good idea. I will look into it.

Greetings,
@quintush

[2022-09-24 15:15] quintush commented on #174
Hello @froy001,

I would agree, however I have seen this behavior earlier.
I will try to reproduce this issue.

Greetings,
@quintush

[2022-09-24 15:24] quintush commented on #176
Hello @edmeister,

In some cases you need to escape special characters.
The following example shows how you can validate labels.
https://github.com/quintush/helm-unittest/blob/c21120fe63a648cb727dfcd85aa6fa320eeaf951/test/data/v3/with-subchart/tests/ingress_test.yaml#L31

[2022-09-25 10:06] quintush commented on #172
Hello @alvarezfr,

I have found the issue and fixed it in the next release.

The yaml parsing was not identifying the appVersion text, so it always expected to be empty and so using the appVersion in the chart.

Greetings,
@quintush

[2022-09-25 20:43] johanvandeweerd commented on #164
Thanks for the feedback.

[2022-09-25 20:43] #164 closed

[2022-09-26 04:38] edarha opened #178 "Can not install helm-unittest at v0.2.9"
- I encounter the issue when i try to install `helm-unittest` by this command `helm plugin install https://github.com/quintush/helm-unittest` with the latest version `v0.2.9`.
- my error:

[code]

[2022-09-26 08:59] edmeister commented on #176
Thanks for your reply @quintush. I wasn't aware the `equal` assertion would also work with non-scalar values.

[2022-09-26 09:01] quintush commented on #178
Hello @edarha,

I just pushed an update to stabelize the installation script.
Try to install it again using the same command (with latest it will pick the latest commit).

If you still have troubles, installing please give me some information what os you are installing the plugin.
Also cleaning-up the helm cache path (https://helm.sh/docs/helm/helm/, there is a table showing the default locations

[2022-09-26 09:17] artiz commented on #178
Hey, error still not fixed for Linux,  `HELM_PLUGIN_PATH` is defined as empty string

[code]

[2022-09-26 09:30] quintush commented on #178
Hello @artiz,

Thanks for pointing it out.
Did not see the missing path.

Updated the script again with simplification of the path initialization, which should fix the problem.

Greetings,
@quintush

[2022-09-26 09:50] artiz commented on #178
@quintush very strange but HELM_PLUGIN_DIR is also empty.  `export HELM_PLUGIN_DIR=$HOME/.local/share/helm` does not fix  the issue

[2022-09-26 10:09] quintush commented on #178
Hello @artiz ,

The issue should now be resolved.
Sygwin validation wat triggered, so that the path was reset to "".
I have managed to reproduce the issue van finally verified the correct validation is resolving the issue.

Greetings,
@quintush

[2022-09-26 10:33] artiz commented on #178
Hey, @quintush
Yep all is fine, issue is resolved. Thank you very much.

[2022-09-26 14:04] BernhardGruen commented on #178
Hey,

it seems a new install only works if done without version. If I use 0.2.9 as version it still does not work. Is it possible that the git tag needs an update too? Or do you plan releasing a new version anyway?

[2022-09-26 15:35] edarha commented on #178
i got this issue

[code]

[2022-09-26 15:43] BernhardGruen commented on #178
Yes, works now. Many thanks for your really fast reaction to this. @quintush

[2022-09-26 15:52] quintush commented on #178
Hello @edarha,

Can you try to remove the plugin (helm plugin remove unittest) and clean the cache (clean the $HOME/.cache/helm/plugin folder and retry installing?

If that still does not work, can you please tell me which linux distro you are using? There are some small differences.

Greetings,
@quintush

[2022-09-26 16:02] edarha commented on #178
it works fine now, thanks a lot your of effort @quintush

[2022-09-26 16:02] #178 closed

[2022-09-30 13:56] d3adb5 commented on #131
I get the same kind of behavior, but with one particular test that uses `contains`:

[code]

This works fine most of the time, but sometimes I get the above error.

[2022-09-30 13:57] d3adb5 commented on #131
Also randomly I get the following Go error:

[code]

[2022-10-01 15:39] #122 closed

[2022-10-02 11:11] quintush commented on #165
Hello @pluess,

I have setup the plugin using git-bash, which is automatically installed with git on a Windows machine.

That works and can maybe help as a wor ook around.

Will check why it is failing on only sygwin installation.

Greetings,
@quintush

[2022-10-02 11:21] #172 closed

[2022-10-07 16:16] wentwog commented on #149
I was only able via `helm template`:
[code]

[2022-10-11 16:57] cristiadu commented on #162
FYI: `isSubset` needs to be documented here: https://github.com/quintush/helm-unittest/blob/master/DOCUMENT.md

Currently not even the current implementation is documented.

[2022-10-11 17:01] cristiadu commented on #174
PS:  I could use `equals` on `spec.servers[0]` with the whole YAML structure, so that can be a workaround if you know for sure the array index to match.

[2022-10-11 17:33] cristiadu commented on #132
Can we have "values file per suite" as a feature request? @quintush

No need to rush, just a suggestion for the future.

[2022-10-13 13:48] miguelchicoespin opened #179 "[Docker image] - Helm Unittest plugin is not available for non-root user"
Hi,

I'm trying to use the the docker image to execute the helm-unittest plugin but without the root user and the plugin is not installed.

Running `docker run -ti --entrypoint=/bin/sh --volume $(pwd):/apps --rm --user=11001:11001 quintush/helm-unittest` note the --user and then `helm plugin list` there is no pluggin installed

[code]

Running same command after creating a container without the --

[2022-10-18 14:03] froy001 commented on #174
@cristiadu Following up on your suggestion:

The template:
[code]

The test (expecting 'false' logic to not render a volume):
[code]

test result:
[code]

@quintush it seems that the processing of yaml arrays has a fundumental flaw in logic. I wish I speaked go so I could inteligently look into it. Thanks for the effort.

[2022-10-22 08:36] #142 closed

[2022-10-24 08:51] froy001 opened #180 "[bug] - failedTemplate assertion is not working as expected"
I have a failedTempate assertion:
[code]

I get the following assertion failure:
[code]

As can be seen the expected and the actual values are exactly the same. This could be related to #174

[2022-10-24 09:16] rquinio1A commented on #180
Could you check there's no extra \n at the end of the message ? cf discussion in https://github.com/quintush/helm-unittest/pull/155

[2022-11-07 15:28] #180 closed

[2022-11-07 15:36] #174 closed

[2022-11-07 15:38] quintush commented on #167
@dj-wasabi, the issue is related to the processing of array Out Of Bounds processing.

In the new fix, the output will result in a null value.

[2022-11-07 15:38] #167 closed

[2022-11-07 22:03] #179 closed

[2022-11-07 22:09] quintush commented on #180
Hello @froy001,

Due to formatting the expected value seems to be equal to the actual value.
I have added an option --debug (-d) which should show the content without the formatting, showing the actual difference.
https://github.com/quintush/helm-unittest/blob/master/FAQ.md#debugging, describes the usage.

As for the above issue. When using the multi-line string (|), the text will always end with

[2022-11-07 22:11] quintush commented on #179
Hello @miguelchicoespin,

Creating it a non-root user is a bit harder as the plugin and helm itself require sudo rights to install. However i have managed to setup the pluggin in the folder for all users, so you example docker image should work.

Greetings,
@quintush

[2022-11-15 21:58] obsidian33 commented on #34
I like this idea. Is this something we can get in a future release?

[2022-11-20 13:12] ludovicalarcon opened #185 "Dependent Subchart Testing link not working in README"
The link in the README for the Dependent Subchart Testing part is not working because of a typo.

## __What should happen?__
The link should direct on the `Dependent Subchart Testing` part

## __What happens__
Nothing

PR #184 address it